.contact-form-section{
    margin-top: 8.75rem;
    width: 100%;

}


.contact-form-container{
    /* height: 55rem; */

    display: flex;
    flex-direction: column;

    gap: 5rem;
    /* margin-top: 10.75rem;
    margin-bottom: 7.75rem; */

    /* border: 1px solid black; */
}

.contact-heading{
    display: flex;
    gap: 2.5rem;

    align-items: center;
}
.contact-heading p{
    width: 20.25rem;
    /* width: 100%; */
}

.contact-form {
    display: flex;
    justify-content: space-between;  
    align-items: center;             /* Optional: align vertically */
    padding: 3.75rem 0 5rem 6.25rem;
    border-radius: 45px;
    background-color: var(--clr-terinary);
}


.cf-left{

    /* width: 34.75rem; */
    flex: 1;
    /* width: 70%; */
    /* height: 40rem; */
    /* margin-top: 4.12rem; */
    /* margin-left: 12.5rem; */
    
    /* border: 1px solid black; */
}
.radios{
    display: flex;
    gap: 2.18rem;
}

.radios span{
    display: inline-flex;
    gap: 0.87rem; 
    
}

.radios input{
    cursor: pointer;
    width: 1.75rem;
}

.radios input:checked{
    accent-color: var(--clr-accent);
}

.contact-inputs{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    margin-top: 2.5rem;
}

.contact-inputs span{
    display: inline-flex;
    flex-direction: column;
}

.contact-inputs :is(input, textarea){
    /* width: 34.75rem; */
    width: 100%;
    border-radius: 14px;
}

.contact-inputs input{
    height: 3.87rem;
    caret-color: black;
    padding-left: 1.87rem;
}
.contact-inputs textarea{
    padding-left: 1.87rem;
    padding-top: 1rem;
}

.contact-form label{
    line-height: 1.6;
    margin-bottom: 5px;
}

.form-submit{
    
    width: 34.75rem;
    
    height: 4.25rem;
    /* padding: 1.25rem auto; */
    background-color: var(--clr-secondary);
    color: white;

    border-radius: 14px;
    margin-top: 2.5rem;
    cursor: pointer;
}

.form-submit:hover{
    background-color: #343434;
}

.cf-right{
  flex: 1;
  /* width: 30%; */
  display: flex;
  justify-content: center; /* Optional: center the image */
  align-items: center;
 
}

.cont-form button:hover{
    background-color: #343434;
}


@media screen and (min-width: 20em) and (max-width: 24.425em) {

    .contact-form-section{
        margin-top: 2.5rem;
    }

    .contact-form-container{
        gap: 1.25rem;
    }

    .contact-heading{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

    }

    .contact-heading h2{
        font-size: 2rem;
    }

    .contact-heading p{
        font-size: 1rem;
        width: 100%;
        
    }

    .contact-form{
        padding: 3.75rem 0.9375rem 1.25rem;
        
    }

    .contact-inputs :is(input, textarea){
        font-size: 1.125rem;
    }

    .contact-form label{
        font-size: 1rem;
    }

    .radios{
        display: flex;
        gap: 1.5rem;
        /* flex-direction: column; */
    }

    .cf-left{
        width: 100%;
    }

    .contact-inputs{
        margin-top: 0.625rem;
        gap: 1rem;
    }

    .form-submit{
        width: 100%;
        height: auto;
        font-size: 1rem;

        padding: 10px 0;
        margin-top: 1.875rem;
    }

    .cf-right{
        display: none;
    }
 
}

@media screen and (min-width: 24.4375em) and (max-width: 47.9875em) {

    .contact-form-section{
        margin-top: 2.5rem;
    }

    .contact-form-container{
        gap: 1.25rem;
    }

    .contact-heading{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

    }

    .contact-heading h2{
        font-size: 2.5rem;
    }

    .contact-heading p{
        font-size: 1.125rem;
        width: 100%;
        text-align: center;
    }

    .contact-form{
        padding: 3.75rem 1.875rem 1.25rem;
        
    }

 
    .contact-inputs :is(input, textarea){
        font-size: 1.125rem;
    }

    .contact-form label{
        font-size: 1rem;
    }

    .radios{
        display: flex;
        gap: 1.5rem;
        /* flex-direction: column; */
    }

    .cf-left{
        width: 100%;
    }

    .contact-inputs{
        margin-top: 0.625rem;
        gap: 1rem;
    }

    .form-submit{
        width: 100%;
        height: auto;
        font-size: 1.25rem;

        padding: 1.25rem 0;
        margin-top: 1.875rem;
    }

    .cf-right{
        display: none;
    }
 
}

@media screen and (min-width: 48em) and (max-width: 81.2375em) {
    
    .contact-form-section{
        margin-top: 2.5rem;
    }

    .contact-form{
        padding: 3.75rem 2.5rem 1.25rem;
        
    }
    
    /* .contact-inputs{
        align-items: center;
    } */

    .form-submit{
        width: 50%;
        display: block;
        margin-inline: auto;
    }

}

/*------------Additional queries--------------*/

@media screen and (min-width: 48em) and (max-width: 57.625em){
    .cf-right{
        display: none;
    }
}