/* HTML: <div class="tooltip">This is a Speech Bubble with a solid coloration and with border radius </div> */
/*https://css-generators.com/*/



.testimonial-section {
    margin-top: clamp(3rem, 8vw, 6.25rem);
    
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 5vw, 3.62rem);
    
    align-items: center;
    
}


.testimonial-heading {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 3vw, 2.5rem);
    text-align: center;
    
}

.testimonial-heading h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    color: var(--clr-primary);
    margin: 0;
}

.testimonial-heading p {
    font-size: clamp(0.875rem, 2.5vw, 1.125rem);
    color: var(--clr-tertiary);
    margin: 0;
    max-width: 600px;
    margin: 0 auto;
}


.testimonials {
    overflow: hidden;
    position: relative;
    background-color: var(--clr-secondary);
    border-radius: clamp(20px, 5vw, 45px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(2rem, 6vw, 4.75rem);
    padding: clamp(2rem, 6vw, 5.25rem) clamp(1rem, 3vw, 2rem) clamp(2rem, 5vw, 4rem);

    width: 100%;
    max-width: 48rem;
    
}


.t-track {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    
}

.t-slide {
    min-width: 100%;
    /* flex-shrink: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 clamp(0.5rem, 2vw, 1rem);
    
}


.tooltip {
    color: #fff;
    max-width: clamp(300px, 90vw, 600px);
    text-align: center;
    min-height: clamp(200px, 25vw, 240px); /* CHANGE: Made max-width responsive, changed height to min-height */
    font-size: clamp(0.75rem, 2.5vw, 1.125rem);

      /* triangle dimension */
    --a: 90deg; /* angle */
    --h: clamp(1rem, 2vw, 1.5rem); /* height */
    --p: 14%; /* triangle position (0%:left 100%:right) */
    --r: clamp(25px, 5vw, 45px); /* the radius */
    --b: 2px; /* border width  */
    --c1: #B9FF66;
    --c2: #191A23;

    padding: clamp(1.5rem, 4vw, 2.5rem); /* CHANGE: Made padding responsive */
    border-radius: var(--r) var(--r) min(var(--r),100% - var(--p) - var(--h)*tan(var(--a)/2)) min(var(--r),var(--p) - var(--h)*tan(var(--a)/2))/var(--r);
    clip-path: polygon(0 100%,0 0,100% 0,100% 100%,
        min(100%,var(--p) + var(--h)*tan(var(--a)/2)) 100%,
        var(--p) calc(100% + var(--h)),
        max(0%  ,var(--p) - var(--h)*tan(var(--a)/2)) 100%);
    background: var(--c1);
    border-image: conic-gradient(var(--c1) 0 0) fill 0/
        var(--r) max(0%,100% - var(--p) - var(--h)*tan(var(--a)/2)) 0 max(0%,var(--p) - var(--h)*tan(var(--a)/2))/0 0 var(--h) 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: var(--b);
    border-radius: inherit;
    clip-path: polygon(0 100%,0 0,100% 0,100% 100%,
        min(100% - var(--b),var(--p) + var(--h)*tan(var(--a)/2) - var(--b)*tan(45deg - var(--a)/4)) calc(100% - var(--b)),
        var(--p) calc(100% + var(--h) - var(--b)/sin(var(--a)/2)),
        max(var(--b),var(--p) - var(--h)*tan(var(--a)/2) + var(--b)*tan(45deg - var(--a)/4)) calc(100% - var(--b)));
    background: var(--c2) content-box;
    border-image: conic-gradient(var(--c2) 0 0) fill 0/
        var(--r) max(var(--b),100% - var(--p) - var(--h)*tan(var(--a)/2)) 0 max(var(--b),var(--p) - var(--h)*tan(var(--a)/2))/0 0 var(--h) 0;
}

.tooltip p {
    font-size: clamp(0.875rem, 2.5vw, 1.125rem);
    line-height: 1.6;
    margin: 0;
    text-wrap: wrap;
   
}


.person {
    margin-top: clamp(1.5rem, 4vw, 2.5rem);
    text-align: center;

    display: flex;
    gap: clamp(10px, 2vw, 20px);
}

.person h4 {
    color: var(--clr-accent);
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    margin: 0 0 0.5rem 0;
}

.person p {
    color: var(--clr-terinary);
    font-size: clamp(0.875rem, 2vw, 1rem);
    margin: 0;
    

}


.slide_no {
    color: var(--clr-terinary);
    background-color: #343434;
    padding: clamp(8px, 2vw, 10px) clamp(12px, 3vw, 16px);
    border: 2px solid var(--clr-accent);
    border-radius: clamp(20px, 5vw, 45px);
    font-size: clamp(0.875rem, 2vw, 1.125rem);
    margin-top: clamp(1rem, 3vw, 1.5rem);

    width: max-content;
    height: max-content;
    
}

.slide_no.active {
    background-color: var(--clr-accent);
    color: var(--clr-secondary);
    font-weight: 700;
}


.indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(2rem, 8vw, 10.625rem);
    width: 100%;
    flex-wrap: wrap;
    
}

.dots{
    display: flex;
    gap: clamp(0.5rem, 2vw, 1rem);
    align-items: center;
    
}

.dot {
    width: clamp(20px, 4vw, 30px);
    height: clamp(20px, 4vw, 30px);
    background-color: #fff;
    clip-path: polygon(50% 15%, 100% 0, 85% 50%, 100% 100%, 50% 85%, 0 100%, 15% 50%, 0 0);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.dot.active {
    background: #B9FF66;
    transform: scale(1.2);
}



@media (max-width: 48em) {
    .testimonial-heading {
        text-align: center;
    }
    
    .indicators {
        gap: clamp(1rem, 4vw, 2rem);
    }
    
    .tooltip {
        --h: 1rem;
        --r: 25px;
    }
}

@media (max-width: 30em) {
    .testimonials {
        border-radius: 20px;
        padding: 2rem 1rem;
    }
    
    .indicators {
        flex-direction: row;
        gap: 1.5rem;
    }
    
    .arrow-left, .arrow-right{
        width: 24px;
        height: 24px;
    }
}     
